@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-input: var(--input);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
}

:root {
  /* 06 - Main Background */
  --background: #FFFFFF;
  /* 01 - Primary Dark Text */
  --foreground: #00033D;
  
  --card: #FFFFFF;
  --card-foreground: #00033D;
  
  /* 02 - Primary Action */
  --primary: #0033FF;
  --primary-foreground: #FFFFFF;
  
  /* 03 - Accent / Secondary */
  --secondary: #977DFF;
  
  /* 04 - Soft Neutral */
  --muted: #EAEDFB;
  --border: #EAEDFB;
  --input: #EAEDFB;
  
  /* 05 - Sidebar Dark Surface */
  --sidebar: #030812;
  --sidebar-foreground: #FFFFFF;
  --sidebar-border: rgba(234, 237, 251, 0.1); /* 04 dengan opacity 10% */

  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border outline-none;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}